/* index.css
 * The home page CSS.
 */

.main-container {
  display: grid;
  grid-template-columns: 250px auto;
  column-gap: 50px;
  width: 1200px;
  margin: 100px auto;
}

.left-col {
  padding: 20px;
}

.right-col {
  padding-left: 20px;
  padding-right: 20px;
  width: 800px;
}

.thumbnail {
  width: 8rem;
}

.thumbnail-image {
  width: 100%;
}

.thumbnail-title {
  font-weight: 800;
  padding-bottom: 1rem;
}

.blog-post {
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog-post-title {
  font-weight: 1000;
  font-size: 24px;
}

.blog-post-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 2rem;
}

.blog-post-content {
  padding-top: 1rem;
}

p span {
  display: block;
}

a {
  word-wrap: break-word;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 3px;
  margin-top: 3px;
  justify-content: center;
}
